.cal-list {
    height: 300px;
    width: 420px;
    margin: auto;
    padding: 20px 20px;
    overflow: scroll;
    border: 2px solid black;
}

.dish-cal-card {
    display: flex;
    flex-direction: column;
    background-color: burlywood;
    margin: 20px 0px;
    justify-content: space-around;
}
